/*CSS RESET STYLES IN BROWSER*/
		
		*{
        padding: auto;
        margin: auto;
        font-size:100%;
        line-height: 1em;
        max-width: 100%;
		}
		
    body{       
        max-width: 100%;
        margin: 0;
        background: #E7EBE5;
        color: #3B3A3A;
        font-family: 'Rubik', sans-serif; 
        
        }

/*-- STYLESHEET --*/	

	<style type="text/css">

nav {
    position: fixed;
    top: 0;
    left:0;
    margin: 0;
    width: 100%;
}

nav ul {
    
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 150px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

}
nav ul li {
    display: inline;
    margin: 0px;
    padding: 10px;
    
}


nav a:link {color: #fff;
text-decoration: none;}

nav a:visited {color: #fff}

nav a:hover {border-bottom: none;
color: #3B3A3A}
    
    
    
}
    
}

		h1, h2, h3, p{
			margin-bottom: 20px;
            font-family: 'Rubik', sans-serif; 
    
            
    
            
		}

        p{ color: #3B3A3A;
            text-align: center;
            font-size: 30px;
            padding: 10px;

        }
		


		h1{
			color: #ffffff;
			font-size: 80px;
            margin-left: 150px;
            margin-top: 100px;
            
		}
		
		h2{
            margin-top: 100px;
            text-align: center;
            font-size: 60px;
			color: #3B3A3A;
		}
		
		h3{
            text-align: center;
            font-size: 60px;
			color: #ffffff;
            padding: 20px;
        
		}
		
		div{
			margin-bottom: 30px;
            
		}

        .heading{
            font-size: 40px;
            margin-top:  50px;
            text-align: left;
            margin-left: 200px;
            margin-right: 200px;

        }

        .bio p{ 
            font-size: 35px;
            color: #fff;
            text-align: left;
            margin-left: 200px;
            margin-right: 200px;

           }
		
/* ---------------- NAVIGATION/HOME----------------------- */

    
        

        ul {
            text-align: center;
            padding: 3em;

            
        }
        
            
            ul li {
                display: inline-block;
                border: 1px, solid;
                margin-left: 25px;
                
            
            }

        #mono1{
            margin-left: 150px;
         
            
            
                    }

        .section1{
            
                background-color: #AC6060;
                padding-bottom: 150px;
        
            
}

        
            
/*------ ENF OF HOME SECTION---------*/





/* ---------------- PORTFOLIO SECTION ----------------------- */

            #portfolio h2{
                text-decoration-color: #3B3A3A;
                font-size: 100px;
    
}
        
            .grid{
                display: grid;
                grid-template-columns: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
                }

            .travel{
                grid-column:1/12;
                background-color: #9ECED2;
                padding:1px;
                padding-top: 100px;
                

            }

            .designer{
                grid-column: 1/4;
                padding: 20px;
                background-color: #BB9B54;
            
                
            }

            .personal{
                grid-column: 4/8;
                padding: 20px;
                background-color: #ABB0B0;
                
            }

            .infographic{ 
                grid-column: 8/12;
                padding: 20px; 
                background-color: #AC6060;
                
            
                
}
/*------ ENF OF PORTFOLIO SECTION---------*/



/*------ BIO SECTION---------*/

        #bio{
            background-color: #6D7474;
            font-size: 100px;
            text-decoration-color: #fff;
            padding-bottom: 100px;
            padding-top: 100px;
        
}


/*------ BIO SECTION---------*/


/* ---------------- CONNECT SECTION ----------------------- */

            #connect{
                background-color: #9ECED2;
                padding-top: 100px;
                padding-bottom: 100px;
            
                
               
        }
            .email{
                text-align: center;
                font-size: 30px;
                text-decoration-color: #3B3A3A;
                margin-top: 50px;

            }

        


        

    
    
/*-- END OF STYLESHEET --*/
